header {
  background-image: url(/resources/background.jpg);
  background-size: cover;
  background-position: center;

  width: 400px;
  height: 100vh;
  position: fixed;
  font-family: East Sea Dokdo;
}

.header-blackbox {
  opacity: 0.5;
}

.header-content {
  background-color: black;
}

header h1 {
  color: white;
  height: 30vh;
  font-size: 100px;
  text-decoration: underline;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

header nav a {
  color: white;
  font-size: 40px;
}

section {
  padding-left: 400px;
  padding-top: 15px;
  text-align: center;
}

section h2 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 40px;
}

section img {
  width: 800px;
  max-width: 90%;
  height: 100%;
}

section p {
  padding: 20px 70px 20px 70px;

  text-align: center;
  line-height: 20px;
}
