header {
  width: 300px;
  height: 100vh;
  position: fixed;

  background-image: url(/resources/background.jpg);
  background-size: cover;
  background-position: center;
}

.header-blackbox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  width: 100%;
  height: 30%;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header nav a {
  color: white;
  text-decoration: none;
}

section {
  padding-left: 330px;
  padding-top: 20px;
  height: 100vh;
  text-align: center;
}

section h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: left;
}

section img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 500px;
}

section p {
  text-align: left;
}
