/* 1. 박스 모델 */
/* 1) width, height */
.size-test {
  height: 200px;
  background-color: cadetblue;
}

#fixed-size {
  width: 200px;
}

#variable-size {
  width: 50%;
}

/* 2) display */
.display {
  width: 150px;
  height: 50px;
  background-color: rgb(199, 199, 255);
  margin: 10px; /*바깥 영역*/
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* 3) padding, margin */
.space {
  width: 100px;
  height: 100px;
  background-color: beige;
}

#padding1 {
  padding: 10px;
}

#padding2 {
  /* top, left, right, bottom */
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  /* 위/아래: 50px, 좌/우: 30px */
  padding: 50px 30px;

  /* 상 우 하 좌 : 시계방향 */
  padding: 30px 50px 20px 40px;
}

#margin1 {
  margin: 50px;
}

#margin2 {
  margin-top: 60px;
  margin-left: 20px;
  /* 위/아래: 50px, 좌/우: 30px */
  margin: 50px 30px;
  margin: 30px 50px 20px 40px;
}

/* 2. 테두리 스타일 */
/* border: border-width border-style border-color */

.border {
  width: 100px;
  height: 100px;
  /* solid: 테두리를 실선으로 표시 */
  border: 10px solid;
  /* border: 굵기 형태 색깔 */
}

#border1 {
  /* dashed: 테두리를 짧은 선으로 표시 */
  border-style: dashed;
}

#border2 {
  /* dotted: 테두리를 점선으로 표시 */
  border-style: dotted;
  border-color: hotpink;
  border-color: hotpink yellow;
  border-color: red orange yellow green;
  border-right-color: aqua;
}

#border3 {
  /* double: 테두리를 이중선으로 표시 */
  border-style: double;
  /* border-radius: 테두리의 모서리를 둥글게 지정하는 속성 */
  border-radius: 20px;
  /* border-radius: 50% =>원모양 */
  /* top-left, top-right, bottom-left, bottom-right */
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* 3. 포지셔닝 */
/* 1) float */
.float {
  width: 100px;
  height: 100px;
  border: 1px solid;
  float: left;
}

/* 2) position */
#outer {
  position: relative;
  /*
  - relative : 본래 자리에서 위치를 이동
  - absolute : 전체 페이지 자체에서 위치를 이동 (위쪽 relative를 만날 때까지 이동) 
  */
  top: 10px;
  left: 20px;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

#first {
  position: absolute;
  top: 50px;
  left: 50px;
  /* 자식은 부모에 종속 */
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
}

#second {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: red;
}

/* - fixed */

/* 사이드바 고정시킬 때 많이 사용 */
#fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* visibility */
.visibility {
  width: 100px;
  height: 100px;
  border: 1px solid;
}

#vis1 {
  /* visibility: hidden => (요소를 숨김) 요소가 존재했던 여백은 그대로 두고, 보이는 것만 안 보임*/
  /* display:none => ((요소를 아예 감춤) 요소가 존재했던 여백이 사라짐 */
  visibility: hidden;
  display: none;
  background-color: beige;
}

#vis2 {
  background-color: skyblue;
}

/* z-index */
/* position과 함께 쓰임 */
#z-outer {
  /* 자식 요소들이 밖으로 빠져나가지 못하게 설정 */
  position: relative;
  height: 250px;
}

.z-index {
  width: 150px;
  height: 150px;
  border: 1px solid;
  position: absolute;
}

/* 숫자가 높을수록 위 */
#z-index1 {
  background-color: orange;
  top: 100px;
  left: 100px;
  z-index: 5;
}

#z-index2 {
  top: 50px;
  left: 50px;
  z-index: 99;
}

#z-index3 {
  background-color: green;
  z-index: -1;
}
